.center {display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;}

h1 {
        color:black;
        text-align: center;
}

p {
        color:black;
        margin-left: 25%;
}

table {
        text-align: center;
}

input {
        margin-left: 25%;
}

.centralizarImagem {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}